.Suggestions {
    position: absolute;
    width: 470px
}

.suggestedName {
    padding: 15px 10px;
    width: 100%;
    background-color: white;
    display: block;
    border: none;
    text-align: left;
    font-size: 1em;
}

.suggestedName#selected  {
    background-color: rgb(182, 226, 182);
}